@model IEnumerable<EventManager.Models.EventViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Event List</title>
</head>
<body>
<div class="container my-5">
    <h1 class="text-center mb-4">Here are all the upcoming events</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="text-end mb-4">
            <a class="btn btn-primary" asp-controller="Event" asp-action="Create">Add New Event</a>
        </div>
    }
    
    <div class="row">
        @{
        int cpt = 1; // cpt pour les images
        foreach (var item in Model)
        {
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <img src="@Url.Content($"~/pic/{cpt}.jpg")" class="card-img-top img-fluid" alt="Event Image for @item.Name">
                <div class="card-body">
                    <h5 class="card-title mb-2">@item.Name</h5>
                    <p class="card-text">Start Date: @item.StartDate.ToString("D")</p>
                    <p class="card-text">End Date: @item.EndDate.ToString("D")</p>
                    <p class="card-text">Location: @item.Address_City, @item.State</p>
                    <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        </div>
        cpt++;
        }
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
