@model EventViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Event Detail</title>
</head>
<body>

<h1>@Model.Name</h1>
<p>@Model.State</p>
<p>@Model.StartDate</p>
<p>@Model.EndDate</p>
<p>@Model.Address_City</p>

<h2>Event Days:</h2>
<a class="btn btn-info" asp-action="DayCreate" asp-route-eventId=@Model.Id>Add</a>

@if (Model.Days.Any())
{
    @foreach (var d in Model.Days)
    {
        <h3>Day: @d.Name</h3>
        <p>Day's theme: @d.Theme</p>
        <p>Date: @d.StartDate</p>
    }
}
else
{
    <p>No days available for this event.</p>
}

<div>

</div>
</body>
</html>