@model EventViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Event Detail</title>
</head>
<body>

<h1>@Model.Name</h1>
<p>@Model.State</p>
<p>@Model.StartDate</p>
<p>@Model.EndDate</p>
<p>@Model.Address_City</p>

@foreach (var d in Model.Days)
    {
        <p>@d.Name</p>
        <p>Day's theme : @d.Theme</p>
        <p>Date : @d.StartDate</p>
    }
}

<div>

</div>
</body>
</html>